.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.nav ul li {
  padding: 2rem 1rem;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.heading {
  font-size: 4.5rem;
  padding: 2rem;
}

/* .center::before {
  background: red;
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
} */

.center::after {
  background: rgb(157, 212, 252);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.blogs {
  padding: 0 2rem;
  margin: 2rem;
}

.blogItem {
  padding: 10px 10rem;
}

.headLine {
  padding: 1rem 0;
}

.para {
  font-size: 15px;
}

.img {
  width: 500px;
  height: 300px;
  margin: 20px;
}
